body {
  background-color: rgb(197, 187, 187);
}

.form__user {
  width: 25rem;
  height: 1.5rem;
}
#GetNotes-btn {
  margin-top: 1rem;
}

.form__title {
  height: 1.5rem;
  margin-top: 1.5rem;
}
.form__note {
  margin-left: 2.5rem;
  height: 1.5rem;
}
#submit-btn {
  margin-top: 1rem;
}
